@import "@styles/common";

body {
  font-family: "Urbanist", sans-serif;
  display: flex;
  flex-direction: column;

  min-width: rem(390);
  overflow-x: hidden;
  background: var(--grey-08);
  color: var(--abs-white);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  font-size: rem(18);

  @include xll {
    font-size: rem(16);
  }

  @include sm {
    font-size: rem(14);
  }
}

h1 {
  @include font-heading1;
}

h2 {
  font-size: 3rem;
  line-height: 150%;
}

h3 {
  @include font-heading3;
}

h4 {
  font-size: 1.5rem;
  line-height: 150%;
}

h5 {
  font-size: 1.25rem;
  line-height: 150%;
}

p,
span,
a {
  line-height: 150%;
}
