@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Urbanist";
  src: url("../fonts/Urbanist-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
